body{
    margin: 0 auto;
    background-color: white;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: rgb(36, 35, 35);
    text-decoration: none;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    grid-area: titulo;
    @media (max-width:768px){
        text-align: center;
    }
}

.ancla{
    color: black;
    text-decoration: none;
}

a{
    @extend .ancla;
}

a:hover{
    @extend .ancla;
}

p{
    margin: 0;
}