$width: 50px;

.containerFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: containerFormulario;
    button{
        border: none;
        background: none;
        background-color: black;
        color: white;
        padding: 15px 10px;
        cursor: pointer;
        width: $width * 3;
    }
}

.infoContacto{
    grid-area: infoContacto;
}

input, textarea{
    width: $width * 15;
    padding: 10px;
    margin: 15px 0;
    border-radius: 0.25rem;
    border: 1px solid rgba(44,62,80,0.14);
    font-family: "Rubik", "sans-serif";
    font-size: 12.5px;
    @media (max-width: 991px){
        width: $width * 8;
    }
    @media (max-width: 768px){
        width: $width * 9;
    }
    @media (max-width: 535px){
        width: $width * 7;
    }
}

.horarios, .telefono, .instagram, .mail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.contactos{
    display: grid;
    justify-content: center;
    grid-template-areas:
    "titulo"
    "infoContacto"
    "containerFormulario";
    padding: 30px;
    padding-top: 0px;
    .titulo{
        margin-bottom: 35px;
    }
    @media (max-width: 991px){
        padding-top: 10rem;
    }
}