@mixin contenido ($display, $direction){
    display: $display;
    flex-direction: $direction;
}

.redes{
    @include contenido(flex, row);
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    column-gap: 15px;
    grid-area: redes;
}

.lista{
    list-style: none;
    line-height: 2;
}

.listaDesordenada{
    @media (max-width: 535px){
        @include contenido(flex, row);
        gap: 15px;
    }
}

.tienda-footer{
    @include contenido(flex, column);
    align-items: center;
    grid-area: tienda-footer;
    li{
        @extend .lista;
    }
    ul{
        @extend .listaDesordenada
    }
}

.ayuda-footer{
    @include contenido(flex, column);
    grid-area: ayuda-footer;
    li{
        @extend .lista;
    }
    ul{
        @extend .listaDesordenada;
    }
}

.contacto-footer{
    @include contenido(flex, column);
    align-items: center;
    grid-area: contacto-footer;
    li{
        @extend .lista;
    }
    ul{
        @extend .listaDesordenada;
    }
}

footer{
    border-top: 1px solid rgba(44,62,80,0.14);
    display: grid;
    grid-template-areas:
    "redes redes redes"
    "tienda-footer ayuda-footer contacto-footer";
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
    @media (max-width: 535px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
        padding: 0;
    }
}