@mixin contenido ($display, $direction){
    display: $display;
    flex-direction: $direction;
}

.utilities{
    @include contenido(flex, row);
    justify-content: right;
    gap: 25px;
    padding: 30px;
    grid-area: utilities;
    @media (max-width: 991px) {
        justify-content: right;
    }
}

.cuenta{
    @include contenido(flex, row);
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    padding-left: 9px;
    @media (max-width: 991px){
        background-color: darkgrey;
        border: none;
        justify-content: left;
        gap: 20px;
        padding: 15px;
        margin: 0;
    }
}

.containerCarrito{
    display: flex;
    align-items: center;
}

.iconoCarrito, .iconoCuenta, .lupa{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.searchbox{
    padding: 20px;
    width: 235px;
    grid-area: buscador;
}

aside{
    height: 25px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    color: white;
    text-align: center;
    font-size: 16px;
    grid-area: aside;
    @media (max-width: 535px){
        height: 52px;
    }
}

.logo{
    margin-bottom: 7px;
    border-radius: 10px;
    @media (max-width: 991px){
        margin: 15px 0px;
        border-radius: 0px;
    }
}

.containerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    grid-area: logo;
}

.containerNavbar{
    @include contenido(flex, column);
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 10px;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 13.3px;
    grid-area: nav;
    ul{
        border-top: 1px solid rgb(43 48 42 / 20%);
    }
    @media (max-width: 991px){
        padding: 20px;
    }
}

header{
    background-color: white;
    padding-top: 0;
    display: grid;
    grid-template-areas: 
    "aside aside aside"
    "buscador nav utilities";
    grid-template-columns: 25% auto 25%;
    border-bottom: 1px solid rgb(44,62,80);
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px){
        display: none;
    }
}

.headerMobile{
    display: none;
    @media (max-width: 991px){
        background-color: white;
        display: grid;
        grid-template-areas:
        "aside aside aside"
        "nav logo utilities";
        grid-template-columns: 30% auto 30%;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        position: fixed;
        padding-top: 0;
        top: 0;
        right: 0;
        left: 0;
    }
}

.navbarMobile{
    justify-content: left;
    line-height: 2;
    grid-area: nav;
    a{
        padding: 10px;
    }
}

.dropdown-item{
    color: rgb(80, 79, 79);
    font-size: 13.3px;
}

.accordion-body{
    padding: 0;
}

.accordion-item{
    border: none;
    button{
        padding: 10px;
    }
    ul{
        padding: 0 10px;
        list-style: "-";
        color: rgb(186, 186, 186);
        font-size: 13.7px;
    }
}

.btn:visited, .dropdown:visited{
    border: 0 !important;
    box-shadow: none;
}

.accordion-header:visited{
    color: black;
    border: 0 !important;
    box-shadow: none;
}