@mixin contenido ($display, $direction){
    display: $display;
    flex-direction: $direction;
}

.banner-swarovski{
    margin-bottom: 17px;
    img{
        width: 100%;
    }
}

.banner-colgantes{
    position: relative;
    display: inline-block;
    text-align: center;
    grid-area: banner-colgantes;
    .texto{
        position: absolute;
        bottom: 2.5px;
        left: 12px;
        color: white;
    }
    img{
        padding: 6px;
        width: 100%;
    }
}

.banner-pulseras{
    position: relative;
    display: inline-block;
    text-align: center;
    grid-area: banner-pulseras;
    .texto{
        position: absolute;
        bottom: 2.5px;
        left: 12px;
        color: white;
    }
    img{
        padding: 6px;
        width: 100%;
    }
}

.banner-aros{
    position: relative;
    display: inline-block;
    text-align: center;
    grid-area: banner-aros;
    .texto{
        position: absolute;
        bottom: 2.5px;
        left: 12px;
        color: white
    }
    img{
        padding: 6px;
        width: 100%;
    }
}

.banners{
    @include contenido(flex, row);
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
    @media (max-width: 991px){
        @include contenido(flex, column);
        align-items: center;
    }
}

.banner-instagram{
    margin-top: 23px;
    background-color: rgb(209, 209, 209);
    a{  
        @include contenido(flex, row);
        align-items: center;
        justify-content: center;
        padding: 35px;
        column-gap: 10px;
        p{
            color: black;
            font-size: 55px;
            font-weight: 300;
        }
    }
}

.inicio{
    @include contenido(flex, column);
    align-items: center;
    @media (max-width: 991px){
        padding-top: 8.66rem;
    }
    @media (max-width: 535px) {
        padding-top: 10.32rem;
    }
    .productos{
        padding: 0 70px;
        @media (max-width: 991px){
            display: none;
        }
    }
}
