@mixin contenido ($display, $direction){
    display: $display;
    flex-direction: $direction;
}

.productos{
    @media (max-width: 991px){
        padding-top: 10rem;
    }
}

.colgantes, .pulseras, .aros{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 25px;
    margin: 10px;
    h5{
        font-size: 16px;
    }
    @media (max-width: 991px){
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    @media (max-width: 768px){
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 535px){
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
}

.item{
    @include contenido(flex, column);
    align-items: center;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.10);
    figure{
        width: 100%;
        margin: 0;
        overflow: hidden;
        img{
            border-radius: 10px 10px 0 0;
            transition: all .5s;
            width: 100%;
        }
    }
}

.item:hover{
    border-radius: 10px;
    img{
        transform: scale(1.2);
        @media (max-width: 991px){
            transform: none;
        }
    }
}

.infoProducto{
    @include contenido(flex, column);
    background-color: white;
    padding: 15px 15px 10px 15px;
    font-family: "Open Sans", "sans-serif";
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.precio{
    font-weight: 900;
    text-align: center;
}

.filtros{
    margin: 20px;
    display: flex;
    justify-content: right;
    select{
        border-radius: 0.35rem;
        padding: 5px;
    }
    @media (max-width: 768px){
        justify-content: center;
    }
}