@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*::after,
*::before * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: large;
}

body {
  margin: 0 auto;
  background-color: rgb(255, 245, 250);
}

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: rgb(36, 35, 35);
  text-decoration: none;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  grid-area: titulo;
}
@media (max-width: 768px) {
  .titulo {
    text-align: center;
  }
}

.ancla, a:hover, a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

.utilities {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 25px;
  padding: 30px;
  grid-area: utilities;
}
@media (max-width: 991px) {
  .utilities {
    justify-content: right;
  }
}

.cuenta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  padding-left: 9px;
}
@media (max-width: 991px) {
  .cuenta {
    background-color: darkgrey;
    border: none;
    justify-content: left;
    gap: 20px;
    padding: 15px;
    margin: 0;
  }
}

.containerCarrito {
  display: flex;
  align-items: center;
}

.iconoCarrito, .iconoCuenta, .lupa {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.searchbox {
  padding: 20px;
  width: 235px;
  grid-area: buscador;
}

aside {
  height: 25px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  color: white;
  text-align: center;
  font-size: 16px;
  grid-area: aside;
}
@media (max-width: 535px) {
  aside {
    height: 52px;
  }
}

.logo {
  margin-bottom: 7px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .logo {
    margin: 15px 0px;
    border-radius: 0px;
  }
}

.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  grid-area: logo;
}

.containerNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 10px;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  font-size: 13.3px;
  grid-area: nav;
}
.containerNavbar ul {
  border-top: 1px solid rgba(43, 48, 42, 0.2);
}
@media (max-width: 991px) {
  .containerNavbar {
    padding: 20px;
  }
}

header {
  background-color: white;
  padding-top: 0;
  display: grid;
  grid-template-areas: "aside aside aside" "buscador nav utilities";
  grid-template-columns: 25% auto 25%;
  border-bottom: 1px solid rgb(44, 62, 80);
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  header {
    display: none;
  }
}

.headerMobile {
  display: none;
}
@media (max-width: 991px) {
  .headerMobile {
    background-color: white;
    display: grid;
    grid-template-areas: "aside aside aside" "nav logo utilities";
    grid-template-columns: 30% auto 30%;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    padding-top: 0;
    top: 0;
    right: 0;
    left: 0;
  }
}

.navbarMobile {
  justify-content: left;
  line-height: 2;
  grid-area: nav;
}
.navbarMobile a {
  padding: 10px;
}

.dropdown-item {
  color: rgb(80, 79, 79);
  font-size: 13.3px;
}

.accordion-body {
  padding: 0;
}

.accordion-item {
  border: none;
}
.accordion-item button {
  padding: 10px;
}
.accordion-item ul {
  padding: 0 10px;
  list-style: "-";
  color: rgb(186, 186, 186);
  font-size: 13.7px;
}

.btn:visited, .dropdown:visited {
  border: 0 !important;
  box-shadow: none;
}

.accordion-header:visited {
  color: black;
  border: 0 !important;
  box-shadow: none;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  grid-area: redes;
}

.lista, .contacto-footer li, .ayuda-footer li, .tienda-footer li {
  list-style: none;
  line-height: 2;
}

@media (max-width: 535px) {
  .listaDesordenada, .contacto-footer ul, .ayuda-footer ul, .tienda-footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

.tienda-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: tienda-footer;
}
.ayuda-footer {
  display: flex;
  flex-direction: column;
  grid-area: ayuda-footer;
}
.contacto-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: contacto-footer;
}
footer {
  border-top: 1px solid rgba(44, 62, 80, 0.14);
  display: grid;
  grid-template-areas: "redes redes redes" "tienda-footer ayuda-footer contacto-footer";
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 15px;
}
@media (max-width: 535px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer ul {
  padding: 0;
}

.banner-swarovski {
  z-index: -1;
  margin-bottom: 17px;
}
.banner-swarovski img {
  width: 100%;
}

.banner-productos {
  grid-area: banner-productos;
}
.banner-productos img {
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-productos h4 {
  justify-content: left;
  align-items: flex-end;
  padding: 15px;
  background-color: transparent;
}

.banner-colgantes {
  grid-area: banner-colgantes;
}
.banner-colgantes h4 {
  justify-content: left;
  align-items: flex-end;
  padding: 15px;
  background-color: transparent;
}

.banner-pulseras {
  grid-area: banner-pulseras;
}
.banner-pulseras h4 {
  justify-content: center;
  padding: 15px;
  background-color: transparent;
}

.banner-aros {
  grid-area: banner-aros;
}
.banner-aros h4 {
  justify-content: left;
  align-items: flex-end;
  padding: 15px;
  background-color: transparent;
}

.banners {
  display: grid;
  grid-template-areas: "banner-productos banner-colgantes" "banner-productos banner-pulseras" "banner-productos banner-aros";
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .banners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.banner-instagram {
  margin-top: 23px;
  background-color: rgb(209, 209, 209);
}
.banner-instagram a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 35px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.banner-instagram a p {
  color: black;
  font-size: 55px;
  font-weight: 300;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .inicio {
    padding-top: 7.5rem;
  }
}
.inicio .productos {
  padding: 0 70px;
}
@media (max-width: 991px) {
  .inicio .productos {
    display: none;
  }
}

@media (max-width: 991px) {
  .productos {
    padding-top: 10rem;
  }
}

.colgantes, .pulseras, .aros {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 25px;
  margin: 10px;
}
.colgantes h5, .pulseras h5, .aros h5 {
  font-size: 16px;
}
@media (max-width: 991px) {
  .colgantes, .pulseras, .aros {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .colgantes, .pulseras, .aros {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 535px) {
  .colgantes, .pulseras, .aros {
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.item figure {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.item figure img {
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  width: 100%;
}

.item:hover {
  border-radius: 10px;
}
.item:hover img {
  transform: scale(1.2);
}
@media (max-width: 991px) {
  .item:hover img {
    transform: none;
  }
}

.infoProducto {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 15px 10px 15px;
  font-family: "Open Sans", "sans-serif";
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.precio {
  font-weight: 900;
  text-align: center;
}

.filtros {
  margin: 20px;
  display: flex;
  justify-content: right;
}
.filtros select {
  border-radius: 0.35rem;
  padding: 5px;
}
@media (max-width: 768px) {
  .filtros {
    justify-content: center;
  }
}

.preguntas_frecuentes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  line-height: 30px;
}
.preguntas_frecuentes div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  font-size: 14.5px;
  line-height: 25px;
}
.preguntas_frecuentes h6 {
  margin-top: 35px;
  margin-bottom: 5px;
}
.preguntas_frecuentes .titulo {
  margin-bottom: 10px;
}
.preguntas_frecuentes ul {
  list-style: "-";
  padding: 0;
}
@media (max-width: 991px) {
  .preguntas_frecuentes {
    padding-top: 10rem;
  }
}

.containerFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: containerFormulario;
}
.containerFormulario button {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
  width: 150px;
}

.infoContacto {
  grid-area: infoContacto;
}

input, textarea {
  width: 750px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 0.25rem;
  border: 1px solid rgba(44, 62, 80, 0.14);
  font-family: "Rubik", "sans-serif";
  font-size: 12.5px;
}
@media (max-width: 991px) {
  input, textarea {
    width: 400px;
  }
}
@media (max-width: 768px) {
  input, textarea {
    width: 450px;
  }
}
@media (max-width: 535px) {
  input, textarea {
    width: 350px;
  }
}

.horarios, .telefono, .instagram, .mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  gap: 10px;
}

.contactos {
  display: grid;
  justify-content: center;
  grid-template-areas: "titulo" "infoContacto" "containerFormulario";
  padding: 30px;
  padding-top: 0px;
}
.contactos .titulo {
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .contactos {
    padding-top: 10rem;
  }
}/*# sourceMappingURL=style.css.map */